.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  @include container-lg {
    justify-content: flex-end;
    display: none;
  }
  .logo {
    position: absolute;
    left: -1px;
  }
}

.nav-list {
  display: flex;
  padding: 32px 0;
  a {
    padding: 4px 8px;
    margin: 0 20px;
    &:hover {
      font-weight: 600;
    }
  }
}

.header-hamburger {
  @media (min-width:992px){
    display: none;
  }
}

.hamburger-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  margin-right: 12px;
}

.hamburger {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px 0;
  .logo {
    margin-left: 12px;
  }
  .hamburger-list {
    text-align: center;
    padding: 40px 0;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 52.5px;
    background-color: white;
    a {
      padding: 4px 8px;
      margin: 0 20px;
      &:hover {
        font-weight: 600;
      }
    }
  }
  .close {
    display: none;
  }
}
