.header-title {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h2 {
      font-weight: 600;
      color: #3b3b3b;
    }
  }
  
  .title-deco-left {
    display: inline-block;
    width: 100px;
    height: 6px;
    background-image: url("../../img/title-deco-left-lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include container-md {
      background-image: url("../../img/title-deco-left-sm.png");
      width: 56px;
    }
  }
  .title-deco-right {
    display: inline-block;
    width: 100px;
    height: 6px;
    background-image: url("../../img/title-deco-right-lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include container-md {
      background-image: url("../../img/title-deco-right-sm.png");
      width: 56px;
    }
  }
  