h1 {
    font-size: $fs-1;
    font-weight: bold;
    line-height: 1.2;
}
h2 {
    font-size: $fs-2;
    font-weight: bold;
    line-height: 1.2;
}
h3 {
    font-size: $fs-3;
    font-weight: bold;
}
h4 {
    font-size: $fs-4;
    font-weight: bold;
}
h5 {
    font-size: $fs-5;
    font-weight: bold;
}

.fs-1{
    font-size: $fs-1;
}
.fs-2{
    font-size: $fs-2;
}
.fs-3{
    font-size: $fs-3;
}
.fs-4{
    font-size: $fs-4;
}
.fs-5{
    font-size: $fs-5;
}
.fs-6{
    font-size: $fs-6;
}
.fw-normal {
    font-weight: 400;
}
.fw-semi-bold {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}

.letter-spacing {
    letter-spacing: 1.1px;
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fff;
}
.text-primary-500 {
    color: $primary-500;
}